<div class="container">
  <div class="flex-column mx-auto p-5 shadow rounded" style="background-color: white;">
    <h1 class="text-center">About Pantry</h1>
    <p class="">
      According to the national nonprofit <%= link_to 'ReFed','https://refed.org/about/who-we-are/#about-us'%>,
      , 35% of food per year is not sold or eaten, and that while 11% makes it to donation or recycle purposes,
      a whopping 54 tons (24%!) is completed unused and wasted.
    </p>

    <h3>How does Pantry help solve this?</h3>
    <p>
      Pantry is a solution dedicated at improving food waste tracking, donation awareness, and informatics
      for every level of the food supply chain: from producer to retailer to consumer.
    </p>

    <h3>The Motivation</h3>
    <p>
      The United Nations has 17 Sustainability goals for our planet. #12 is
      <%= link_to 'Ensure sustainable consumption and production patterns', 'https://sdg-tracker.org/sustainable-consumption-production'%>.
    </p>
    <p>
      According to the U.N., "Sustainable consumption and production is about
      promoting resource and energy efficiency, sustainable infrastructure, and providing
      access to basic services, green and decent jobs and a better quality of life for all.
      Its implementation helps to achieve overall development plans, reduce future economic,
      environmental and social costs, strengthen economic competitiveness and reduce poverty."
    </p>

    <p>
      The U.N. further lays out indicators and targets to achieve this goal:
      <ul>
        <li>
          <%=link_to 'Target 12.3', 'https://sdg-tracker.org/sustainable-consumption-production#12.3'%>:
          Halve global per capita food waste
        </li>
        <li>
          <%=link_to 'Target 12.6', 'https://sdg-tracker.org/sustainable-consumption-production#12.6'%>:
          Encourage companies to adopt sustainable practices and sustainability reporting
        </li>
        <li>
          <%=link_to 'Target 12.8', 'https://sdg-tracker.org/sustainable-consumption-production#12.8'%>:
          Promote universal understanding of sustainable lifestyles
        </li>
      </ul>
    </p>
  </div>
</div>
