<div class="container">
  <h1>Enter your Order</h1>

  <%= form_with(model: @food_item) do |form| %>
    <% if @food_item.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

        <ul>
          <% @food_item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :order_id, style: "display: block" %>
      <%= form.text_field :order_id, {id: "order-id"} %>
    </div>

    <% if @pantry %>
      <div>
        <%= form.label :pantry_id, style: "display: none" %>
        <%= form.hidden_field :pantry_id, value: @pantry.id %>
      </div>
    <% else %>
      <div>
        <%= form.collection_select(:pantry_id, Pantry.all, :id, :name, {prompt: "Select a Pantry"}, {style: "display:block"}) %>
      </div>
    <% end %>

    <div>
      <%= form.submit "Add Food Items to my Pantry"%>
    </div>
  <% end %>

  <% if @pantry %>
    <div>
      <%= link_to "Back to food items", pantry_path(@pantry.id) %>
    </div>
  <% else %>
    <div>
      <%= link_to "Back to food items", pantries_path %>
    </div>
  <% end %>

    <div class="row" id="scanner">
      <div class="row justify-content-center">
        <video id="video" autoplay></video>
      </div>
      <div class="row d-flex justify-content-center">
        <button class="rounded p-3 m-3" id="getUserMediaButton">Scan a Recipt</button>
        <button class="rounded p-3 m-3" id="qr-button">Detect barcode</button>
      </div>
    </div>
</div>

<script type="text/javascript">
  window.onload = function() {
    // check compatibility
    if (!('BarcodeDetector' in window)) {
      console.log('Barcode Detector is not supported by this browser.');
    } else {
      console.log('Barcode Detector supported!');
    }

    var imageCapture;

    function onGetUserMediaButtonClick() {
      navigator.mediaDevices.getUserMedia({video: true})
      .then(mediaStream => {
        document.querySelector('video').srcObject = mediaStream;

        const track = mediaStream.getVideoTracks()[0];
        imageCapture = new ImageCapture(track);
      })
      .catch(error => ChromeSamples.log(error));
    }

    function onGrabFrameButtonClick() {
      imageCapture.grabFrame()
      .then(imageBitmap => {
        const canvas = document.querySelector('#grabFrameCanvas');
        drawCanvas(canvas, imageBitmap);
      })
      .catch(error => ChromeSamples.log(error));
    }

    function onTakePhotoButtonClick() {
      imageCapture.takePhoto()
      .then(blob => createImageBitmap(blob))
      .then(imageBitmap => {
        const canvas = document.querySelector('#takePhotoCanvas');
        drawCanvas(canvas, imageBitmap);
      })
      .catch(error => ChromeSamples.log(error));
    }

    /* Utils */

    function drawCanvas(canvas, img) {
      canvas.width = getComputedStyle(canvas).width.split('px')[0];
      canvas.height = getComputedStyle(canvas).height.split('px')[0];
      let ratio  = Math.min(canvas.width / img.width, canvas.height / img.height);
      let x = (canvas.width - img.width * ratio) / 2;
      let y = (canvas.height - img.height * ratio) / 2;
      canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
      canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
          x, y, img.width * ratio, img.height * ratio);
    }

    document.querySelector('video').addEventListener('play', function() {
      document.querySelector('#qr-button').disabled = false;
    });

    document.getElementById('getUserMediaButton').addEventListener('click', function() {
      console.log('!!!!');
      navigator.mediaDevices.getUserMedia({video: true})
      .then(mediaStream => {
        document.querySelector('video').srcObject = mediaStream;

        const track = mediaStream.getVideoTracks()[0];
        imageCapture = new ImageCapture(track);
      })
      .catch(error => ChromeSamples.log(error));
    });



    const barcode = document.getElementById('video');
    const button = document.getElementById('qr-button');
    const message = document.getElementById('order-id');
    const detectBarcode = () => {
      console.log('We be here, toto')
      const barcodeDetector = new BarcodeDetector({
        formats: [
        "aztec",
        "code_128",
        "code_39",
        "code_93",
        "codabar",
        "data_matrix",
        "ean_13",
        "ean_8",
        "itf",
        "pdf417",
        "qr_code",
        "unknown",
        "upc_a",
        "upc_e"
        ],
      });
      barcodeDetector
      .detect(barcode)
      .then((data) => {
        console.log(message)
        const { rawValue } = data[0];
        console.log(data);

        message.value = `${rawValue}`;
        console.log(message.value);
      })
      .catch((e) => {
        console.error(`Barcode Detection failed: ${e}`);
      });
    };

    button.addEventListener('click', detectBarcode);
  }

  </script>
