<div id="<%= dom_id batch %>">
  <p>
    <strong>Producer:</strong>
    <%= batch.producer_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= batch.store_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= batch.item_name %>
  </p>

  <p>
    <strong>Best by:</strong>
    <%= batch.best_by %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= batch.exp_date %>
  </p>

  <p>
    <strong>Recall:</strong>
    <%= batch.recall %>
  </p>

</div>
